flash nor-16M {
	pebsize = 64K
	numpebs = 256
	minimum-io-unit-size = 256
}

image sysimage-nor.img {
	flash {}
	flashtype = "nor-16M"

	partition u-boot {
		image = "u-boot-sunxi-with-spl.bin"
		size = 512K
	}

	partition splash {
		offset = 0x80000
		image = "splash.bmp"
		size = 512K
	}

	partition kernel {
		offset = 0x100000
		image = "kernel.itb"
		size = 5M
	}

	partition rom {
		offset = 0x600000
		image = "rootfs.squashfs"
		size = 0x880000
	}

	partition overlay {
		offset = 0xe80000
		size = 0x180000
	}

	# genimage 12 pads an image-less partition only up to its start.  This
	# zero-length end marker makes the complete overlay region erased (0xff).
	partition flash-end {
		offset = 0x1000000
	}
}
